<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" version="6.0">
    <servlet>
        <servlet-name>ProductList</servlet-name>
        <servlet-class>servlets.ProductListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductList</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>servlets.AddProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
</web-app>
